.main {
    margin-top: 30px;
    width: 800px;
    text-align: center;
}

.images {
    width: 800px;
    margin-top: 50px;
}

.bold-green {
    font-weight: bold;
    color: #A5CBBE;
}

.game-board {
    margin-top: 50px;
    width: 800px;
    height: 500px;
    border: solid black 1px;
    background-image: url("images/game-backround.png");
    position: relative;
}

#dinosaur {
    background-image: url("images/trex.svg");
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background-size: cover;
    left: 50px; 
}

#obstacle-cactus {
    background-image: url("images/cactus-obstacle.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 750px;
}

#obstacle-bird {
    background-image: url("images/bird.svg");
    background-size: cover;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 50px;
    left: 750px;
    display: none;
}

#score {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #456b5f;
}

.btn-color {
    background-color: #A5CBBE;
    border-color: #A5CBBE;
}